<table class="inventories">
  <thead>
      <tr >
          <th>
              Name
          </th>
          <th>
              Quantity
          </th>
          <th>
              Category
          </th>
          <th>
              Price
          </th>
          <th></th>
      </tr>
  </thead>
  <tbody>

          <tr *ngFor="let item of ufo" (click)="onSelect(item)">
              <td >
                  {{item.name}}
              </td>
              <td>
                  <input [(ngModel)]="item.quantity">
              </td>
              <td>
                  {{item.category}}
              </td>
              <td>
                  {{item.price}}
              </td>
              <td>
                <button (click)="save()">update</button>
              </td>
          </tr>
  </tbody>
</table>