

<table class="table">
  <thead>
      <tr>
          <th>
              Name
          </th>
          <th>
              Quantity
          </th>
          <th>
              Category
          </th>
          <th>
              Price
          </th>
          <th></th>
      </tr>
  </thead>
  <tbody>

          <tr>
              <td>
                  {{Name}}
              </td>
              <td>
                  {{Quantity}}
              </td>
              <td>
                  {{Category}}
              </td>
              <td>
                  {{Price}}
              </td>
              <td>
                  update
              </td>
          </tr>
  </tbody>
</table>